[2014-10-02 11:10] rolfn opened #1 "suggestion: pipes"
I suggest the special filename "-" for input and also for output. "-" should have the meaning use an input stream or an output stream instead of an input file or an output file. This would allow things like the following:

[code]

or

[code]

Many thanks for your nice program!

...Rolf

[2014-10-02 11:35] rolfn opened #2 "vector graphic?"
Shouldn't a pdf output file contain vector graphics? I tried the following example
[code]
The file "NewTux.svg" comes from http://upload.wikimedia.org/wikipedia/commons/b/b0/NewTux.svg The resulting pdf file contains bitmaps. This is bad.

And another issue: Without an explicit size parameter  the output pdf file ("NewTux.pdf") has two pages and the "penguin" is broken. It would be better if the p

[2015-01-09 13:52] bfred-it opened #3 "Sizing issues"
If I don't specify a size, the output will be 400x300

If I specify `119:119`, the size will be correct, but the image is empty

If I specify `0:0:119:119`, the output is correct.

Test SVGs: http://cl.ly/ZEsx

[2015-01-09 17:25] shakiba commented on #3
First, I suspect either you are using an old version svgexport or the svg files you have shared are not exactly those you are using. Anyway, please make sure you are using the latest version of svgexport or just reinstall it:
[code]

Passing only `119:119` parameter is an edge case, because it matches both *input viewbox* and *output size* parameter pattern, in this case it will be used for *outpu

[2015-01-09 17:40] bfred-it commented on #3
I found and installed svgexport just before trying it, so the version is the latest one. I followed the usage instructions and only entered the output size as instructed.

Anyway, your example works, but I'm repeating information already included in the SVG. My question really is: can svgexport automatically detect the size for the width/height/viewBox attributes?

[2015-01-09 17:44] bfred-it commented on #3
I doublechecked and it seems like it only works that way with "output.svg", not "original.svg"

[2015-01-09 18:11] shakiba commented on #3
Yes it can detect svg size but it fails on `original.svg` because its `width`/`height` are specified as `119px` instead of just `119`, but both are correct, I should fix it.

Temporary as a work around you can edit `original.svg` files and set `width`/`height` to `119` without `px` (only on `svg` tag).

[2015-01-09 21:04] shakiba commented on #3
I guess I have fixed it now, please update to 0.1.14 and give it a try.

[2015-01-09 21:25] bfred-it commented on #3
It does work, thanks!

[2015-01-09 21:25] #3 closed

[2015-01-09 21:38] shakiba commented on #3
Thanks for reporting!

[2015-01-22 13:36] shakiba commented on #2
I have dropped the support for PDF, because the PDF was just a wrapper around an image and not an actual SVG to PDF conversion. I think better results can be achieved with other package.

[2015-01-22 13:36] #2 closed

[2015-01-31 01:53] onury opened #4 "No error argument passed to callback"
Trying with a missing svg file, callback is executed with `null` instead of an error object/message. (Error is only logged to the console).

[2015-01-31 19:12] shakiba commented on #4
Thanks for reporting, I will fix it.

[2015-02-01 20:56] shakiba commented on #4
It is fixed in v0.2.0, please try it. The test case is [here](https://github.com/shakiba/svgexport/blob/master/test/test.js#L18).

[2015-02-08 18:10] #4 closed

[2015-03-03 11:42] piranna opened #5 "Unable to load file"
Trying to convert a image it give me the next error:

[code]

I've checked this manually since gitbook 2.0.0 was giving me failure, and seems to be a svgexport problem. The image source code is:

[code]

[2015-03-03 12:40] shakiba commented on #5
There is a space in file path (`/ShareIt Project/`) which causes this issue, I will check if I can fix it, but meanwhile you can remove that space from file path.

[2015-03-03 18:49] shakiba commented on #5
I have fixed the issue for spaces in files which are passed in directly from command line, which is the case here. Please install the new release (0.2.1) and try it.

[2015-03-04 14:12] msikma opened #6 "Suggestion: allow a glob pattern as input, and a target directory as output"
This would allow the script to be used for converting large numbers of SVGs. I had to write a quick script for doing this just now.

[2015-03-04 20:35] shakiba commented on #6
Yes, this is common use case, just few days ago I was thinking about a similar idea. But I doubt that there is anyway to handle it cleanly within this library, there are many different use cases and corner cases and it looks out of scope of this library. I think there are better options to handle this, for example you can use `find -exec`.

Currently it is also possible to pass a json file name wh

[2015-03-04 21:19] piranna commented on #5
I've tryied version 0.2.1 and the space in the path issue is fixed, thank you! :-) Seems it's a dependency of ```gitbook``` but it's not working there, maybe I'll need to open an issue there...

[2015-03-05 07:00] shakiba commented on #5
You are welcome, thank you for reporting! Yes, you can notify them about this issue/update, I hope they update to new version soon.

[2015-03-05 07:00] #5 closed

[2015-03-05 07:22] SamyPesse commented on #5
svgexport is not a dependency of gitbook, it only shows a message to install it globally if not installed.

So you just need to update svgexport in your system.

[2015-03-05 08:51] piranna commented on #5
I have ```svgexport``` in my book ```package.json``` file so it's automatically installed "locally". Could this be the problem?

[2015-03-05 08:52] SamyPesse commented on #5
Yes probably, npm is maybe doing more priority to the local version of svgexport. Remove it from your local folder and install it globally: `npm install svgexport -g`

[2015-03-05 08:58] piranna commented on #5
I've just test it (remove local, install global) and gitbook is still not working, but launching ```svgexport``` manually works:

[code]

[2015-03-05 09:00] SamyPesse commented on #5
Ok I've found the problem: https://github.com/GitbookIO/gitbook/blob/version/2.0/lib/utils/images.js#L18

I'll fix it for the next release.

[2015-03-05 09:07] SamyPesse commented on #5
I fixed it in GitBook!

[2015-03-05 09:10] shakiba commented on #5
@SamyPesse I suggest following code instead:
[code]

[2015-03-05 09:12] piranna commented on #5
:+1: By the way, ```gitbook-plugin-autocover``` use internally ```node-canvas```, that has fewer dependencies that ```phantomjs``` and it's doing the same thing (convert SVG to PNG, in that case for the cover), why it's that being used instead?

Disclaimer: I'm the one that added SVG support on ```gitbook-plugin-autocover```... :-P

[2015-03-05 09:13] shakiba commented on #5
And to avoid spaces:
[code]

[2015-03-05 09:15] piranna commented on #5
+1 to use ```svgexport``` as a require() module instead of external command.

[2015-03-05 09:16] shakiba commented on #5
@piranna Regarding dependencies, `node-canvas` needs Cairo to already be installed, so it doesn't have fewer dependencies than `phantomjs`.

[2015-03-05 09:19] SamyPesse commented on #5
I'll take a look at using `svgexport` as a require module, but I think from a process point of view, it's better to run this in another process and avoid running everything in the same node event loop.
The perfect solution will be a `svgexport` service that runs in the background and convert images (avoid starting the process each time but still having another process).

`node-canvas` depends on C

[2015-03-05 09:27] shakiba commented on #5
phantomjs already is executed in another process, svgexport only prepares your commands and sends them to phantomjs, actually to nodejs wrapper for phantomjs, phantomjs has it's own engine and does not use nodejs. Keeping phantomjs running in another process is an interesting idea, I have considered it before but didn't have enough time to implement it, some phantomjs wrappers do similar thing.

[2015-03-05 09:31] piranna commented on #5
Maybe an objects stream, being each object an input SVG file and the output an object stream of PNG files? When you finish processing, just close the stream and PhantomJS can close...

I know it depends on Cairo, and I think PhantomJS too... only thing that I feel node-canvas is less bloated on system resources dependencies. On the other hand it's true browsers rendering support is fairly superior

[2015-03-05 10:20] shakiba commented on #5
Phantomjs is only installed locally and ships inside a cross-platform npm package while as far as I know node-canvas requires you to install Cairo in your system. I'm open to evaluate any other option to use instead of phantomjs if it can be installed just as a npm package without any external dependency.

[2015-03-05 11:38] msikma commented on #6
Would it be sufficient to just add the option to use a glob pattern for input, and a target directory for output? The caveat would be that you cannot pass specific options per file. But it seems doable. I could make a PR for it sometime this weekend.

[2015-03-05 12:26] shakiba commented on #5
@SamyPesse As I was browsing your code to see how you have used svgeport, I found [this script](https://github.com/GitbookIO/logos/blob/master/convert.sh) where you use `convert` to pad an exported image. I just released a new update which supports padding, now you can just run:
[code]

[2015-03-05 16:17] shakiba commented on #6
I think its better to find a way to handle this kind of use cases instead of only this one, for example someone else may need to use regex for file selection or read input list from a file. For output as you mentioned providing only a directory is not enough, you also need output options and also output file name.  Moreover adding glob would diverge this library from its core functionality and mak

[2015-03-05 22:17] piranna commented on #5
I've updated the ```gitbook``` dependency to that commit and the error is still there. The code is the new one, but although I put some traces they are being ignored. Seems that module is not being used, and instead the old code is being used, but don't know why or where it's located, since ```gitbook-cli``` don't include it... :-/

[2015-03-06 12:51] shakiba commented on #5
Try this: `sudo updatedb; locate svgexport/package.json`

[2015-03-06 12:54] SamyPesse commented on #5
To use the latest commit from `GitBook/gitbook` with `gitbook-cli`:

[code]

Now the version `2.0.0` wil be associated with the `./gitbook` folder.

You can uninstall it using: `gitbook versions:uninstall 2.0.0`

[2015-03-06 22:24] piranna commented on #5
Ok, now I got it to work, though gitbook-cli would be like grunt-cli,
that use the grunt package installed in each project, but instead it's
defined on the book.json file. It finish correctly but I'm not getting
the output PDF file but probably I'm doing something wrong, I'll
review it later.

--
"Si quieres viajar alrededor del mundo y ser invitado a hablar en un
monton de sitios diferentes, simp

[2015-03-10 21:51] SamyPesse opened #7 "Windows support"
On windows, I'm getting an ENOENT error when trying to load phamtomjs. I think this is because on Windows, we need to run `phantomjs.cmd` instead.

[2015-03-10 22:48] shakiba commented on #7
I just published an update, I have replaced hard-coded phantomjs bin path with `require('phantomjs').path`, it may fix this issue, please try it. I don't have a Windows installation ready to use, but if it doesn't work then I will prepare one, probably in one or two days.

[2015-03-10 22:50] SamyPesse commented on #7
I'm going to test it. It will be nice to add some basic unittests with Travis (for Linux and OS X) and Appveyor (for Windows, free for open source).

[2015-03-10 22:56] SamyPesse commented on #7
This is not working, but not the same error,

This time, svgexport doesn't crash and return an exit code 0 but stdout is:

```SyntaxError: Unable to parse JSON string```

I'm debugging this issue and will keep you updated :)

[2015-03-10 22:57] shakiba commented on #7
Thanks, I'm trying Travis.

[2015-03-10 23:47] SamyPesse commented on #7
The issue was comign from GitBook, it's now working fine except one svg that raise an error with phamtomjs (only on windows):
[code]

[2015-03-10 23:47] #7 closed

[2015-03-11 00:28] shakiba commented on #7
I added svgeport to [Travis](https://travis-ci.org/shakiba/svgexport) and [Appveyor](https://ci.appveyor.com/project/shakiba/svgexport), thanks for your suggestion! There are some issues with running child process on Appveyor.

For your latest issue I published another update, it may fix it. Otherwise see [here](https://github.com/akoenig/gulp-svg2png/issues/8), in short your svg should start with

[2015-03-30 16:39] Kurtz1993 opened #8 "Not converting transform attributes"
I tried to convert an SVG file with transform scale() and transform rotate(), but I can't get it to work. The conversion only outputs the images at their original coordinates but without any rotation or scale.

These are the properties that are not being converted:
style="transform: scale(1.9939797114561713) rotate(15.47907791300374925deg); transform-origin: 73.56616973876953px 56.75px;"

[2015-03-30 17:02] shakiba commented on #8
svgexport uses phantomjs for rendering svg, please report to [phantomjs](https://github.com/ariya/phantomjs) instead.

[2015-03-31 11:44] #8 closed

[2015-04-21 12:59] Frozenfire92 opened #9 "Sizing issues when using %"
This is related to #3

I was having a similar issue where whenever I resized my svgs the output was always blank. I then compared my SVG (generated by [d3.js](http://d3js.org/)) to the one in #3 and the difference was my width/height were 100% where his was specified in pixels. I then changed my width/height to match my viewport size in pixels and it scaled perfectly.

[2015-04-21 14:00] Frozenfire92 opened #10 "Specify background color with jpg export"
By default I seem to be getting black and can't find a way to change this from within the svg

[2015-04-21 14:00] shakiba commented on #9
I'm not sure if using % in width/height is supported by phantomjs or even svg, see [here](https://wiki.mozilla.org/SVG:Sizing). Anyway currently svgexport does not read these values directly, instead it reads computed values from phantomjs.

[2015-04-21 14:05] Frozenfire92 commented on #9
I think the % is injected from stylesheets in a browser. I got that from copying from chrome's inspector.

When I copied the d3 from javascript it worked. Just something to note incase anyone else comes across this

[2015-04-21 14:33] shakiba commented on #10
Yes, it seems phantomjs set the default background to black and I don't remember any way to set svg background.  I guess we should add a new param to svgexport to set page background or even better an option to inject css styles.

[2015-04-21 14:34] shakiba commented on #9
I see, thanks for sharing it.

[2015-05-19 11:59] Sjors commented on #10
It would indeed be nice if I can change the background color. In particular for PNG exports I'd like to make the background transparent.

[2015-05-19 15:01] shakiba commented on #10
@Frozenfire92 @Sjors Just published a new update where you can pass styles to be injected into SVG document, for example:
[code]
I'm not sure how robust this solution is, please try it and let me know if there is any issue.

[2015-05-19 15:04] #9 closed

[2015-06-03 15:33] Chaz6 opened #11 "Compress png files"
When converting svg files to png files the resulting files are extremely large (e.g. 1MB for a 512x512 image). I was able to achieve an average of 99% compression using pngcrush. It would be useful if svgexport could automatically compress the output.

[2015-06-03 15:49] shakiba commented on #11
You are right, but this is actually a phantomjs issue. If you find a solution which can be bundled in a node/npm package, please either submit PR or just let me know.

[2015-06-06 10:40] piranna commented on #5
I've just updated to ```gitbook-cli``` v0.3.4 and ```gitbook``` v2.1.0 and it's still showing the message about need to install ```svgexport```. Since PhantomJS run on it's own process, could this be fixed @SamyPesse? As a workaround I've done ```npm install --save-dev svgexport``` and it worked, although now I get another error regarding certificates:

[code]

[2015-06-06 12:25] SamyPesse commented on #5
Where are you usingthe gitbook.io domain name ? you should switch to gitbook.com.

[2015-06-06 13:09] piranna commented on #5
You are right, I had some links on the README.md file to give credits to GitBook, sorry :-P But, how it's possible that a markdown file could give this problem?

[2015-06-06 13:11] SamyPesse commented on #5
This is not the markdown links but the images (you probably had the gitbook badge with a `gitbook.io` domain name), since the image is an SVG, GitBook try to download it to convert it to PNG; but the download failed.

[2015-06-06 13:13] piranna commented on #5
Exactly, it was the GitBook badge :-P Thank you very much! :-D

[2015-07-01 00:23] hanstzalora opened #12 "svgexport does not render font properly on Ubuntu"
<svg version="1.1" id="Layer_1"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="600px" height="600px" viewbox="0 0 600 600">
    <style type="text/css" >
        <![CDATA[

          @font-face {
            font-family: uGillSansLocal;
            src: local('Gill Sans');
          }

          @font

[2015-07-01 10:41] shakiba commented on #12
I'm not able to reproduce this issue. It produces correct result for both local and url for me. Have you tried other fonts?

[2015-07-01 10:46] hanstzalora commented on #12
I tried with Baskerville, it's fine. But the perplexing thing is, when I view it with Chrome, everything is fine, but not with PhantomJS.

[2015-07-01 11:02] shakiba commented on #12
So other fonts render correctly in svgexport/phantomjs?

[2015-07-02 00:07] hanstzalora commented on #12
I'll test, and let you know.

[2015-07-06 03:58] hanstzalora commented on #12
I believe, it's the font, i.e. GillSans Regular, problem. I have found the workaround, convert the font to SVG font, and then **never** use the font's name as font-family value; use custom value for your font-family. It works on Mac OS X 10.10.4 and Ubuntu 14.04, with `svgexport` 0.2.5 and `phantomjs` 1.9.17.

[2015-07-06 06:40] shakiba commented on #12
Another possibility is that your font file is broken, I suggest you get the font file from another resource and try again.

[2015-07-06 06:40] #12 closed

[2015-07-07 15:52] #10 closed

[2015-07-09 04:55] hans-t opened #13 "Move to phantomjs 2.0"
Hi, is there any plan to upgrade the `phantomjs` used by `svgexport` to version 2?

[2015-07-09 05:13] shakiba commented on #13
Hi @hanstzalora, it can be upgraded when phantomjs package for node.js is [upgraded](https://github.com/Medium/phantomjs/issues/288). Feel free to submit a pull request when it is ready.

[2015-07-14 16:38] loominade opened #14 "problems with certain filenames"
I cannot convert files with emoji in filenames:
[code]

[2015-07-14 20:18] shakiba commented on #14
The issue is with phantomjs, but it is more than just emoji charachters. Currently I don't have enough time to fully investigate it and report it to phantomjs, so please either report it to phantomjs or temporary do not use special characters in your file names.

[2015-07-19 17:11] whitecolor opened #15 "Make entire background one color"
Is it possible to make all background one color (on just svg element)
tried style: `body{background:white}` doesn't work.

[2015-07-19 19:48] shakiba commented on #15
There is no `body`, top element is `svg`. You can open your svg file in a browser and inspect it. Do you have any issue with styling `svg`?

[2015-07-19 19:48] #15 closed

[2015-07-19 20:00] whitecolor commented on #15
ok, got it! thanks.

[2015-07-23 04:16] hanstzalora commented on #13
If you want to use `phantomjs2` binary, do the following:

1. Replace `phantomjs` binary in `<svgexport dir>/node_modules/phantomjs/bin/` with `phantomjs2` binary. (I got the `phantomjs2` binary by building the phantomjs2 from source in Ubuntu 14.04. I believe `npm` doesn't have `phantomjs2` yet).

2. In `render.js`, change these 2 lines:
`phantom.args.length !== 1` ---> `system.args.length !== 2`

[2015-07-29 20:07] goosehub opened #16 "Getting "TypeError: 'undefined' is not a function (evaluating 'el .getBBox()')""
I've tried this with several inputs, and several options, but can not avoid getting this error. I bring it up here because I believe it may be an issue that could apply to more people than just me.

Installation went as expected, I'm familiar with nodejs and CLI, the command `svgexport` works as expected.

Example command (I've used several from the README, but here's just one command I tried)

`s

[2015-07-29 20:12] goosehub commented on #16
Closing this issue. `<?xml version="1.0" encoding="UTF-8"?>` is required to be at the top. Perhaps this project can append this to the top of the svg if missing to avoid this issue all together? If I decide to use this in my project, I may make this change and do a pull request, but either way, closing this issue now.

[2015-07-29 20:12] #16 closed

[2015-07-29 20:18] goosehub opened #17 "Does not preserve custom fonts"
This does not support fonts, and as I see in the docs, there is no way to link the font to the SVG. This would be an important enhancement. Unfortunately, I have yet to find a project that can handle this.

[2015-08-03 16:37] shakiba commented on #16
It may be resolved in phantomjs 2.0.

[2015-08-03 16:38] shakiba commented on #17
What do you mean by "link the font to the SVG"?

[2015-08-03 21:50] goosehub commented on #17
The font for text in an SVG is not (usually) inside of the SVG itself. The SVG instead has a link that points to the font that is used in the SVG. It's definitely not an easy feature; as far as I can see, there is no projects that export SVGs with custom fonts, but I thought I'd bring it up for discussion, since you may have a better idea of what this will involve.

[2015-08-03 21:59] shakiba commented on #17
As far as I know it is supported, see #12.

[2015-08-04 13:08] goosehub commented on #17
I see. My particular case is an SVG without an inline style tag for font faces, where font faces are loaded separately, but doing so is probably more reasonable than passing the font name and url through different means.

[2015-08-04 13:08] #17 closed

[2015-08-05 18:07] ali-habibzadeh opened #18 "input.height type error"

[2015-08-05 18:11] #18 closed

[2015-08-24 05:57] sarunw opened #19 "Got blank PNG when convert some SVG to PNG."
Here is the problem file https://dl.dropboxusercontent.com/u/2271974/egg.svg

[2015-08-26 01:50] shakiba commented on #19
An immediate fix is to use `px` with viewbox values or just remove viewbox, but I will dig deeper to find the actual issue.

[2015-08-26 04:39] sarunw commented on #19
You mean viewBox="0 0 96 96" to viewBox="0px 0px 96px 96px" ? Don't seem to work this way.

I upload and use web interface on the same file and it work perfectly https://iconverticons.com/online/

[2015-08-26 12:01] loominade commented on #14
I'd like to, but I don't know what to tell them. What do you think I should report to [phantomjs](https://github.com/ariya/phantomjs/issues)?

Can't it operate with those filenames at all?

[2015-08-27 15:13] RedRoosterMobile opened #20 "Rendering SVG with images fails if scaling too high (image gone)"
Hi,

I have the following svg:

https://www.wetransfer.com/downloads/430cac04e6675d4bcd9ae85e4ac8b4e720150827150308/d18c71

it contains a relatively big base64-encoded image

I call the svgexport like that:

this works:
svgexport city.svg city.png 2.36x

![city](https://cloud.githubusercontent.com/assets/4501195/9524252/4141bb14-4cde-11e5-9961-206fa50fde52.png)

this (and higher scale) does not wo

[2015-08-27 16:51] shakiba commented on #20
I really have no idea. I think this is too much load for this tiny library! You may want to try other libraries such as imagemagic's convert command.

[2015-08-27 18:05] shakiba commented on #19
My last suggestion was wrong, sorry. I'm working on it, but I can not consistently reproduce the issue which makes it very hard fix.

[2015-08-27 19:30] RedRoosterMobile commented on #20
I figured out a way:

just link the image from harddisk, than it works up to 16x!

file:///Users/mojomacssd/rails/marcel/covergenerator/svgs/SW_DominikMartin.jpg

[2015-08-27 19:37] RedRoosterMobile commented on #20
found a way to circumvent this. instead of base64ing the images, just save 'em and use file:// protocol

[2015-08-27 19:37] #20 closed

[2015-08-27 19:44] shakiba commented on #20
I'm glad to hear that! :)

[2015-08-27 19:50] RedRoosterMobile commented on #20
btw, I tried probably all other libraries and they are all shit (batik,imagick,rsvg, cairo, ..).
Yours is, by far, the best! Thank you for that!

[2015-08-27 20:15] shakiba commented on #20
Thanks, and thanks for sharing the issue and solution!

[2015-08-29 16:24] shakiba commented on #19
A quick temporary fix for your case is to add `width="96" height="96"` to you svg element.

[2015-09-04 04:03] theogravity opened #21 "Export issue when missing width/height"
Do you have ideas on what settings to use to get this to rasterize properly? I've tried various combinations of settings (using pad vs crop, scale values, etc). The raster comes out extremely cut off.

(facebook icon)

[code]

I know it works if I manually add in a `width` and `height`, but I have a bunch of files that are like this and want to avoid a manual edit:

[code]

[2015-09-04 05:28] shakiba commented on #19
I just found the issue, I'm working on fixing it.

[2015-09-04 05:34] shakiba commented on #21
This is the same as #19 which is still open. I just tried again to find what causes this issue and fortunately found it this time, now I will work on fixing it. I'm going to close this issue, please follow #19.

[2015-09-04 05:34] #21 closed

[2015-09-04 06:26] theogravity commented on #21
Wow thanks for the rapid response!

[2015-09-11 05:41] dan335 commented on #13
Made a fork with phantomjs2 from https://github.com/Lochlan/phantomjs2

https://github.com/dan335/svgexport

Works on mac and ubuntu 14.04

[2015-09-11 06:20] shakiba commented on #13
@dan335 Thanks, but does it works better with phantomjs2?

[2015-09-11 06:42] dan335 commented on #13
The phantomjs version that svgexport depends on didn't work for me on mac.  It works after switching to phantomjs2.  Not sure if it works any better.

[2015-09-11 14:50] shakiba commented on #13
@dan335 I see, thanks. I have used svgexport on mac before, if you remember the issue or can reproduce it please report it, I will try to fix it with phantomjs1. I'm interested in using phantomjs2 too, but I'm waiting to make sure it is stable.

[2015-10-09 01:06] praneybehl commented on #11
You can probably integrate https://www.npmjs.com/package/imagemin for png image compression add/pass it as an option.

Hope it helps :+1:

[2015-10-09 01:31] shakiba commented on #11
@praneybehl Thanks, it is interesting, it may be possible to directly use their [optipng-bin](https://www.npmjs.com/package/optipng-bin) package.

[2015-10-09 01:44] praneybehl commented on #11
Yes, I just did a test run where I had 310 svg files to convert to png at default size 400x300 they were all 432kb and then I ran then through optipng and their sizes were dramatically reduced to between 28kb to 50kb depending on the image type. I think It would be a great addition for optimizing export file size.

Also a request if you don't mind me asking in this issue is that it would be great

[2015-10-09 02:02] shakiba commented on #11
@praneybehl Thanks for you suggestions, however currently I really don't have enough time, today I'm fixing an old critical bug after several weeks! So please fell free to edit docs and make a pull request.

[2015-10-09 06:47] shakiba commented on #11
@praneybehl I fixed another issue and before committing I added some comments to examples, please feel free to edit them if required.

[2015-10-09 06:52] shakiba commented on #21
@theogravity It is fixed, finally! Please try it and let me if it works for you.

[2015-10-09 06:53] shakiba commented on #19
I have published an update to fix this issue, please try it an reopen this issue if still required.

[2015-10-09 06:53] #19 closed

[2015-10-09 07:26] shakiba commented on #14
I [reported](/ariya/phantomjs/issues/13633) it.

[2015-10-09 07:35] praneybehl commented on #11
@shakiba thanks really appreciate it and will do.

[2015-10-12 14:28] roipoussiere opened #22 "Viewbox can be wrong when specifying HD dimentions."
On several vectors, the output picture is not on the good dimensions when I specify the width and / or height.

The tested image come from the official w3c svg test suite: [full-color-prop-03-t](http://www.w3.org/Graphics/SVG/Test/20061213/htmlObjectHarness/full-color-prop-03-t.html)

__Works fine without parameters__

    svgexport ./color-prop-03-t.svg out.png
    [...]/color-prop-03-t.svg [...]

[2015-10-12 15:10] shakiba commented on #22
I can reproduce the issue, but speechifying svg width/height in % makes sizing very [complicated](https://wiki.mozilla.org/SVG:Sizing). The best solution at this moment is to avoid them.

[2015-10-13 04:31] shakiba commented on #22
I have published a new update which ignores % width/height, please try it and feel to reopen this issue if required.

[2015-10-13 04:31] #22 closed

[2015-10-13 17:01] roipoussiere commented on #22
Ok, it works with this last update.
Thanks!

[2015-10-20 17:35] littlefyr opened #23 "Suggestion: Add classname to outer element"
While its interesting that you could add inline style in the commandline arguments, I'm not sure how practically useful it would be.

What would be useful, however, is the ability to add className values to some container (either the outer SVG, or the parent of the SVG if that's how you're doing the rendering).

The main usecase being icons or buttons. Say "enabled" or "selected" or "over importan

[2015-10-20 18:30] shakiba commented on #23
Could you please elaborate an example? I guess I have not yet understand your suggestion.

[2015-10-20 18:45] littlefyr commented on #23
Sure.

If you're using SVG for icons, you are likely going to use the same icon in a number of different contexts. take a look at Bootstrap http://getbootstrap.com/components/#glyphicons-examples. So you need a way to say "I want the icon for primary button" vs "I want the icon for a disabled line item". While the common situation is "I want to change the colour", if you look at how Iconic handles

[2015-10-20 19:20] shakiba commented on #23
I see. Isn't it possible to just pass different style to the command each time? That is instead of using class-names to select styles to apply, only pass those styles which should be applied.

[2015-10-20 20:53] littlefyr commented on #23
Its _possible_ but its hardly efficient or desirable. Its far easier to simply use a CSS file referenced in the SVG. If you're matching web and native app, you'd have to duplicate all that style, once in the build script and once in the CSS for the site. Ongoing maintenance will be a mess.

If you're modifying the markup to add CSS, its not much more difficult to add a class name. I think that som

[2015-10-20 21:16] shakiba commented on #23
Ok, I understand. However, in order to cover your use-case I prefer to implement something which would cover a wider range of functionalities, for example injecting JS (which would allow any manipulation including adding a class-name) or piping svg through a user code, etc. I guess it will take me a little time to evaluate different solutions but I will add something to cover this.

[2015-10-20 21:23] littlefyr commented on #23
Sure, but I think in the real world, this is going to be a far more common use case than wanting to make the sorts of changes that usercode would be ideal for (or even adding CSS snippets, for that matter).

[2015-11-01 03:10] NaxYo commented on #13
Hey, I'm about to open a new issue, but I think it is more related to phantomjs than this module: __applying positive saturation to an image filter (lets say 1.6 or 160%) make it fails__ (no image rendered).

@dan335 , @hanstzalora and anyone that have tried phantomjs2 instead, can you please tell me if phantomjs2 solve the issue?

@shakiba do you think there is something that we can do on svgexpo

[2015-11-01 03:44] shakiba commented on #13
@NaxYo It seems that phantomjs-1 (at least)  doesn't support over-saturation, I don't know about v2.

[2015-11-02 01:41] NaxYo commented on #13
If someone face this "positive saturation problem" I have found a workaround by using a colorMatrix instead of saturate. In chrome and phantom it render really similar, I haven't made the full calculation, but I'm pretty sure we can get the same result.

[code]
Is equivalent to
[code]
Applying cross-multiplication we can get any other value from saturate = 1 -> matrix center = 1, sides = 0; to sat

[2015-11-04 09:41] andreborud opened #24 "background black when converting to jpg"
maybe I'm doing it wrong but the css styling doesn't seem to work when not using cammandline.

[code]
Code above and below gets a black background as a result
[code]

Any ideas?

[2015-11-04 17:45] shakiba commented on #24
Have you tried using array for output instead of string?
[code]

[2015-11-04 18:12] davemackintosh commented on #14
It also doesn't like spaces in the path name, regardless of whether you escape them or not.

[2015-11-04 18:56] shakiba commented on #14
@davemackintosh It may be an svgexport issue, can I see your example?

[2015-11-04 19:13] davemackintosh commented on #14
I'm using it in an electron app on OS X, it's reading from the "Application Support" directory but says it can't find "Application " so I tried .replace(/\s+/g, "\\ ") but still no go.

[2015-11-04 19:19] shakiba commented on #14
@davemackintosh Are you using svgexport as a node.js module? If so, please use arrays for output value, [see here](https://github.com/shakiba/svgexport/issues/24#issuecomment-153805985). I should add it to readme.

[2015-11-09 12:48] andreborud commented on #24
Nope, problem remains. :(

[2015-11-09 18:07] shakiba commented on #24
Can you please share your svg file?

[2015-11-10 07:57] andreborud commented on #24
Sure no problem, this is one of them: (Upload of svg isn't supported apparently)

```<?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="100%" height="100%" viewBox="0 0 417 417" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-r

[2015-11-10 21:22] shakiba commented on #24
Thanks for reporting, I had made a mistake in last update, I fixed it. Please update and try it again, and let me know if you still have any issue.

[2015-11-10 21:22] #24 closed

[2015-11-11 22:55] tannerhodges commented on #6
For anyone else wanting to do this now, here's the bash script I'm using:

[code]

If you need to export to another directory just add it in (e.g., a `png/` subdirectory):

[code]

And for those with a more complex setup, you can strip the full path from the filename and store it in a var (e.g., `name`):

[code]

[2015-11-13 03:52] shakiba commented on #6
@tannerhodges Thank you!

[2015-11-14 16:01] szarnyasg opened #25 "Scale does not work for SVGs using ex"
Hi, I came across this issue while using GitBook for converting MathJax to PDF (issue https://github.com/GitbookIO/gitbook/issues/853 is loosely related).

I created a minimal example for the problem: https://github.com/szarnyasg/svgexport-ex. The `ex` unit does not work well with svgexport's scale option. Exporting `circle1.svg` with scale 1x is okay (https://github.com/szarnyasg/svgexport-ex/blo

[2015-11-14 20:54] shakiba commented on #25
I can reproduce the issue but I don't think this is a svgexport issue. Even in my browser circle1 is not rendered correctly:
![circle1](https://cloud.githubusercontent.com/assets/1061095/11165781/9221e508-8ae7-11e5-8bdf-5f0f2de90d33.png)

[2015-11-15 12:09] szarnyasg commented on #25
Well, it's actually rendering it in Chrome, Firefox, Edge and Internet Explorer gives 4 different results... I'll look into the details later and see if specfying the font can help the browsers to render correctly. Still, scaling in svgexport should not crop the pic.

[2015-11-15 20:07] shakiba commented on #25
svgexport does not crop the image, phantomjs does it, chrome also cropped it in above picture.

[2015-11-17 10:37] shahmanthan9 opened #26 "Problem with HTTPS embedded images"
I have a SVG with HTTPS image embedded, it generates blank image

[2015-11-17 13:50] shakiba commented on #26
Can you please provide an example?

[2015-11-17 13:57] shakiba commented on #6
@msikma I have decided to implement this, if you are interested please make a PR.

[2015-11-17 14:22] msikma commented on #6
I'm a bit busy lately... I'm not sure I'll be able to do this for a while unfortunately. Maybe in the future.

[2015-11-27 06:08] #26 closed

[2015-11-27 06:11] shakiba commented on #14
@loominade I'm closing this issue, because it is a phantomjs issue. Hopefully in future versions of phantomjs it will be resolved.

[2015-11-27 06:11] #14 closed

[2015-11-28 02:51] shakiba commented on #25
@szarnyasg I'm closing this issue, please feel free to open it again if there is any update.

[2015-11-28 02:51] #25 closed

[2015-12-01 02:38] theogravity commented on #6
You might want to also try https://github.com/theogravity/svg-rasterizer

[2015-12-14 11:56] davemackintosh opened #27 "External fonts don't work - Upgrade to PhantomJS 2"
If you're using web fonts, from say Google Fonts they won't appear because there is no wait for resources to finish loading before rendering the image.

Is there any fix for this?

[2015-12-14 12:11] shakiba commented on #27
Probably a page load listener should be added before rendering. If it is possible for you please check if you can fix it, otherwise I will try to add it as soon as I'm free.

[2015-12-14 12:16] davemackintosh commented on #27
I'm looking to add support for the load event right now in a fork. Will submit a PR when done.

https://github.com/newworldcode/svgexport
http://www.w3.org/TR/SVG11/interact.html#LoadEvent

[2015-12-14 12:18] shakiba commented on #27
That's great, thanks!

[2015-12-14 16:19] davemackintosh commented on #27
Well.. What a waste of time that was.. It just turns out that it doesn't support fonts very well.. Need to update to PhantomJS 2.0

http://stackoverflow.com/questions/23404658/how-can-i-use-google-web-fonts-with-phantomjs

[2015-12-14 16:43] davemackintosh commented on #27
Working on an update.

[2015-12-14 17:11] davemackintosh commented on #27
:boom: Got Phantom 2.0 working and fonts are fixed. Will be submitting a PR once the tests are fixed.

[2015-12-14 19:13] davemackintosh commented on #27
@shakiba

[2015-12-15 03:26] shakiba commented on #27
@davemackintosh Thanks, I have been resisting not to use phantomjs 2.0 for a while, but it seems that this time I can not! Please give me just few days.

[2015-12-15 08:58] davemackintosh commented on #27
How come you've resisted updating?

[2015-12-15 11:40] shakiba commented on #27
The main phantomjs npm package is not upgraded to v2 yet and [this issue](https://github.com/Medium/phantomjs/issues/288) is still open. I just checked the phantomjs2 npm package, it does not support Windows yet. I will use it in an alpha version, because otherwise svgexport won't be usable in Windows.

[2015-12-17 22:50] theogravity commented on #19
A bit late, but it seems to work! Thanks!

[2016-02-11 08:17] davemackintosh commented on #27
Looks like that issue has been closed and updated, I think this PR is outdated now that 2.1 is out. I will revisit in the next few days to update the PR.

[2016-02-11 21:48] shakiba commented on #27
@davemackintosh Thanks, I appreciate your help. It seems that the package name is also changed to phantomjs-prebuilt.

[2016-02-27 22:00] #27 closed

[2016-02-27 22:22] davemackintosh commented on #13
Should be closed now #27 and #28 are closed

[2016-02-27 22:33] shakiba commented on #13
@davemackintosh Yes, thanks for your help, and everyone else!

svgexport v0.3.0 now depends on phantomjs-prebuild which uses phantomjs v2.

[2016-02-27 22:33] #13 closed

[2016-03-23 07:40] tlkiong opened #29 "Can't load file"
Receive the following error:

[2016-03-23 07:50] tlkiong commented on #29
This issue is fixed on the pull request https://github.com/shakiba/svgexport/pull/30

To fix this, go to:

<path to your npm module>/svgexport/render.js

line 43:
`page.open(svgfile, function(status) {`

Change that to:
`page.open('file:///'+svgfile, function(status) {`

However, it seems Travis CI is failing. All I did was add a few characters into the code yet the error its throwing is no enviro

[2016-03-23 23:47] shakiba commented on #29
Can you please share the exact code or command you are using? Meanwhile I t don't think this is good solution, because for example it does not work with relative locations or any protocol other than `file`.

[2016-03-24 01:14] tlkiong commented on #29
The exact command I used was:

`svgexport abc.svg xxx.jpg`

My OS is Windows 7. Further debug was that the protocol was unknown for "c" or "d" (depending on which drive the file is from) for abc.svg

[2016-03-24 01:30] shakiba commented on #29
I see, can you please try `./abc.svg`? I don't have access to any Windows computer right now.

[2016-03-24 01:32] shakiba commented on #29
Can I ask where the abc.svg file is located? Probably you can just use `c:\abc.svg` or `.\abc.svg` depending on where your file is located.

[2016-03-24 01:58] tlkiong commented on #29
The error shown:

`Unable to load file (fail): C:/....../abc.svg`

I have verified twice, thrice, 4 times that the path is correct.
I have also checked with phantomjs's webpage module to return statuses (errors, success and etc) during the page.open.

The error returned was:

`Invalid protocol 'c'`

[2016-03-24 02:11] shakiba commented on #29
Have you tried backslash `\` instead of forward slash `/`? That is `c:\` (not `c:/`).

[2016-03-24 02:23] tlkiong commented on #29
Seriously?
I just show you the command I use

`svgexport abc.svg xxx.jpg`

Clearly I didn't state the path. Clearly the path was inferred by your code (_dirname). It's not my choice it's a forward or backward slash.

Furthermore, windows by default is that format.

[2016-03-24 02:29] tlkiong commented on #29
The reason I chose to put 'file:///' is because that's the only protocol that is supporting opening of files from the file system by a browser. (Try opening a HTML, svg or any file in your browser. Then see the url. It'll be prefix with that 'file:///')

Your concern on whether it's a relative path or not is not really valid as I placed that code at the final section (load said file in phantomjs).

[2016-03-24 02:47] shakiba commented on #29
As far as I know Windows uses backslash not forward slash, that is `c:\`.

I'm not sure why your path is not being resolved correctly, but I think it's better to fix it first.

[2016-03-24 02:49] tlkiong commented on #29
Ouch. My bad. Sorry for that. My path is in the forward slash. And I dare say it has nothing to do with the path. If the path is wrong it will fail much earlier

[2016-03-24 02:50] shakiba commented on #29
I see, so is there still any issue?

[2016-03-24 02:53] tlkiong commented on #29
Like i have been saying from the start, the path is NOT the issue here... The issue is with the latest upgrade of phantomjs that is reading 'c' (if the file path starts with (C:\)) is an invalid protocol. The path is fine. It just fails when it tries to load the path into phantomjs.

[2016-03-25 16:59] vitalymak commented on #29
On OSX 10.11.4
[code]
`app-icon` without `.svg` extension. If I add `.svg` then no such error.

[2016-04-08 09:19] Tiliavir commented on #29
Same here. If I try to execute svgexport, the path is resolved perfectly fine, but it fails to open with said error:

[code]

OS is Windows 10; svgexport executed in PowerShell.

[2016-04-08 09:54] tlkiong commented on #29
@Tiliavir follow my fix as I have shown above for now as the PR is not approved.

[2016-04-11 14:37] Tiliavir commented on #29
Thanks worked perfectly - hope to see it in the repo soon...

[2016-05-01 01:25] ArchCodeMonkey commented on #29
I was having the same problem and I have a potential fix based on the one suggested by @tlkiong but should also satisfy the concerns of @shakiba

I found that neither relative nor absolute paths would work.
![error1](https://cloud.githubusercontent.com/assets/11328425/14939450/da295aca-0f8a-11e6-8905-f9e86f8dc913.png)
![error2](https://cloud.githubusercontent.com/assets/11328425/14939453/f5776c0e-

[2016-05-01 02:04] tlkiong commented on #29
That was what I was thinking initially. However, at the beginning of the code where the call is made to the relative or absolute path, it is only fetching from the filesystem. This means it isn't a http URI but only can be a fs path. That's the reason for not checking whether it's a http or not as it is unnecessary.

That's my opinion though

[2016-05-01 03:08] shakiba commented on #29
I guess @tlkiong is right, currently only reading from file is supports anyway. But index.js is a better place to do the modification. I would be happy to merge it if anyone submit a PR.

This issue is also (submitted)[https://github.com/ariya/phantomjs/issues/14194] to phantomjs.

[2016-05-01 03:11] tlkiong commented on #29
The reason my PR is doing it at the final stage is to give it the code a bit of flexibility in terms of being able to do anything with the file (since we need the file path) before loading it to phantomjs. If we were to do it at index.js at the start and if in the future there would be a need for new features to enable modification of file contents, it will be a problem.

[2016-05-01 03:36] shakiba commented on #29
I see, actually I expect it to be fixed by phantomjs in future. As a short-term workaround, I think fixing it at the same place that file path is resolved would be better.

[2016-05-01 03:37] tlkiong commented on #29
I don't think there will be a "fix" by phantomjs as this is the correct way for phantomjs to handle it

It was a deliberate improvement on their part to add this in

[2016-05-01 03:39] ArchCodeMonkey commented on #29
I only suggested making a change in `index.js` for convenience as PhantomJS doesn't natively support the `url` module and that seemed to be a clean way to check if the path already referenced a protocol scheme. If you aren't worried about being able to load from HTTP then it doesn't really matter where the fix is done.

[2016-05-01 03:40] shakiba commented on #29
@tlkiong How do you know that? There is already a similar open and confirmed [issue](https://github.com/ariya/phantomjs/issues/14194).

[2016-05-01 03:56] ArchCodeMonkey commented on #29
Although, something like this would probably work in `render.js`.
[code]

[2016-05-01 08:53] shakiba commented on #29
I have added following temporary fix, can you please check it:
[code]

[2016-05-03 08:09] shakiba commented on #29
I published a new version with the fix, please let me know if the issue is not resolved.

Thanks everyone one for reporting and other helps!

[2016-05-03 08:09] #29 closed

[2016-05-17 12:02] baierjak opened #31 "Stroke Attributes in svg"
I have troubles with exporting svg elements with attributes "stroke-linejoin" ... For example I have stroke-linejoin="round" but always it is ignored in export and it is the same result as stroke-linejoin="bevel" by default. Can I do something about it?

[2016-05-17 12:18] baierjak commented on #31
This issue is almost only with TEXT elements

[2016-05-17 13:08] shakiba commented on #31
Can you please share an example, it is probably a phantomjs issue.

[2016-05-17 13:09] baierjak commented on #31
Yes, thats problem with phantomJS. Have you any experiences with other browsers?

[2016-05-17 13:32] baierjak commented on #31
maybe you can see it in this example. in png you can see outline is not ROUND :)
[export.zip](https://github.com/shakiba/svgexport/files/268254/export.zip)

[2016-05-18 10:48] shakiba commented on #31
I suggest that you try a simple shape, such as square, instead of text.

[2016-05-18 12:47] baierjak commented on #31
Haha. Not so good solution. How can I change text for square? :)) But i have solution >> transform every single letter from text element into path element here we go :)!

[2016-05-18 12:54] shakiba commented on #31
I meant check if the issue exists with a simple shape (path) such as square, as well. I was suspect that the issue is somehow related to fonts or text. Anyway, good to hear that you fixed it.

[2016-05-18 12:54] #31 closed

[2016-05-18 13:00] baierjak commented on #31
Yes. This issue is only with text elements. Dont know why.

[2016-07-14 12:23] ThomasLohmann opened #32 "PNG/JPG to SVG"
Hi Ali,

first of all thanks for your good work. Is it also possible on your codebase to export PNG/JPG to SVG? Or do you see any other possibility to implement PNG/JPG to SVG, for example, with Node.js? It would just be the other way round. What I have found is this here: http://potrace.sourceforge.net/
But it is more for black & white graphics. With colours it would be perfect.

Best regards,
Th

[2016-07-25 13:05] sasasimic opened #33 "TypeError: undefined is not a function (evaluating 'el.getBBox()')"
Hello,
i have the problem with svgexport
when i try to do export .svg to .png exp. svgexport 146945076057960a08a9ffb.svg test12.png
i got error:
TypeError: undefined is not a function (evaluating 'el.getBBox()')

  undefined:24
  :33
TypeError: null is not an object (evaluating 'input.height')

i have  svgexport 3.10.3, node v6.3.0 and phantomjs 2.1.1
do You known what is the problem ?
Thank you

[2016-07-26 03:17] shakiba commented on #33
Can you please share your SVG file?

[2016-07-26 06:36] sasasimic commented on #33
here are svg content

<svg xmlns:xlink="http://www.w3.org/1999/xlink" width="62.477ex" height="5.898ex" viewBox="0 -1628.5 26899.7 2539.5" role="img" focusable="false" aria-hidden="true" style="vertical-align: -2.116ex; position: static;" xmlns="http://www.w3.org/2000/svg"><defs id="MathJax_SVG_glyphs"><path stroke-width="1" id="MJMATHI-63" d="M34 159Q34 268 120 355T306 442Q362 442 394 418T427 355

[2016-07-26 06:38] shakiba commented on #33
This not a valid svg!

[2016-07-26 13:35] sasasimic commented on #33
Ok here are whole file, i got file from svgtex api.
[146945076057960a08a9ffb.txt](https://github.com/shakiba/svgexport/files/383915/146945076057960a08a9ffb.txt)

[2016-07-26 15:39] shakiba commented on #33
That's also invalid. Change change file name extension to svg (that is 146945076057960a08a9ffb.svg) and try top open it in a browser or svg viewer.

[2016-07-26 15:39] #33 closed

[2016-08-19 11:16] lwchkg opened #34 "Cannot passthrough SVG code because tags and attributes are changed to lower case in passthrough"
The tags and attributes in SVG are CASE SENSITIVE. Changing them to lowercase will cause the elements not to render.

Input:
[code]

Expected output:
[code]

Actual output:
[code]

[2016-08-19 11:17] lwchkg commented on #34
Reported on wrong repo. Sorry...

[2016-08-19 11:17] #34 closed

[2016-08-24 06:19] leroy0211 opened #35 "add the ability to add background color on pad"
When i use `pad` to create whitespace around my image. For example from a landscape svg to a square png, the whitespace will be transparent.

I actually want the whitespace to be white (`#fff`). When I use `"svg{background:white;}"` only the transparency of the input svg will be white, not the whitespace of the `pad` section.

Am I missing something here??

[2016-08-24 06:51] shakiba commented on #35
Probably that's actually the expected behavior, can you please try [this answer](http://stackoverflow.com/a/20357447)?

[2016-09-15 03:38] xenotropic opened #36 "Updates to install instructions in Readme"
Consider noting in Readme.md that "sudo apt-get install nodejs-legacy" is necessary on debian/ubuntu systems to use npm

http://stackoverflow.com/questions/21168141/cannot-install-packages-using-node-package-manager-in-ubuntu

Also consider putting "sudo" before "npm install svgexport -g"

It'll save a bunch of people a few seconds and a few googles to install it correctly :^)

[2016-09-15 06:38] shakiba commented on #36
I do not recommend using `sudo` for that! :)

[2016-09-15 06:38] #36 closed

[2016-11-04 08:20] aurelijusrozenas opened #37 "Return code for bash"
Now error message is displayed when it happens but command always returns code `0` as success. To test: `svgexport asd asdf  ; echo $?`.
When using svgexport in bash script it is useful to know if command failed and do appropriate actions for that.

[2016-11-14 04:27] mitar commented on #32
That is a hard problem and in general not just a question of packaging something for node.

[2016-11-14 04:28] mitar commented on #11
I just use https://github.com/lukeapage/pngjs to read and write a PNG file and it becomes compressed.

[2016-11-23 16:19] Nitrodist opened #38 "Suggestion: raise errors when an unrecognized format is passed in or add verbose mode"
I accidentally used the library like this:

[code]

This didn't do anything, and there's no `--verbose` option to check what the actual parsed arguments were when running it, so raising an error on the invalid value (500px) or having a verbose option would be a good feature for idiots like myself who can't be bothered to read documentation first before using it.

[2016-12-01 19:10] felipemarques commented on #12
We have the same problem ... someone more issues as this?

[2016-12-10 07:56] michaelswe opened #39 "Striped output"
Thank you for your great effort!
I'm having some trouble, though.

When I convert this svg to png or jpg it becomes striped. If I open the svg in Affinity Designer it looks as it should.

[code]

![test](https://cloud.githubusercontent.com/assets/4483085/21072059/635d2ca6-beb6-11e6-92c7-40a5c291b2cb.png)

[2016-12-12 08:40] michaelswe commented on #39
Solved it with ImageMagick instead.

[2016-12-12 08:40] #39 closed

[2016-12-16 00:29] shakiba commented on #39
@michaelswe This issue is in how PhantomJS renders SVG, and it is not limited to PhantomJS, I have seen the same glitch in other SVG editors and viewers as well. Anyway, I'm glad that you found a solution!

[2017-02-19 06:01] koutsenko opened #40 "SVG #id support"
Hello.
I have many sprites in one svg file.
I want to convert them to png, each sprite must have own raster png copy.
[code]
How can i do that?
Thanks.

[2017-02-19 07:55] shakiba commented on #40
Currently it is not possible, but this is a great idea.

[2017-03-01 16:41] mpfluger opened #41 "Performance for svg -> png has decreased between 0.2.8 and 0.3.2"
The performance when converting svg files to png has decreased quite a bit between those versions. It's most likely related to the PhantomJS changes. It's not a bug in that sense and it's not critical. I just wanted to mention it, as the difference is pretty huge.

For a sample file, real processing time went from 0.7 seconds to 12.8 seconds. The generated files are the same.

[2017-04-05 13:19] EmielM commented on #35
I need this as well.

Could the `pad` operation simply grow the SVG element and put all its element in a `<g />` with the appropriate transform applied?

Right now the feature is rather useless (it can only be used to add some transparent space).

[2017-04-05 18:00] shakiba commented on #35
@EmielM Your solution is to hard to do, it requires svg manipulation. Can you please share an example? I will try to look at this weekend.

[2017-04-18 21:05] mdeboer commented on #41
This is caused by the switch from the phantomjs2 package to phantomjs-prebuilt. You can safely reverse commit 75250e689df4c5830c40099c4738ad1a68cf2702 to speed it up again.

Before I changed it back I couldn't even run the test suite as it timed out (> 5000ms), now with the commit reversed I have no problems at all.

@shakiba why have you switched to phantomjs-prebuilt? Unless there's a good reaso

[2017-04-18 22:51] mdeboer commented on #41
@mpfluger if you're interested, I opened up a pull request to revert back to phantomjs2 which fixes the performance issues. See #42 👍

[2017-04-19 01:08] shakiba commented on #41
If I remember correctly this was the [history](https://github.com/shakiba/svgexport/issues/13): Originally we used `npm:phantomjs`, then at some point to use PhantomJS 2 (when `npm:phantomjs-prebuilt` was not published yet) we used `npm:phantomjs2`. However later `npm:phantomjs` renamed to `npm:phantomjs-prebuilt` and updated to PhantomJS2, so we used we used `npm:phantomjs-prebuilt`.

`npm:phanto

[2017-04-19 01:11] shakiba commented on #41
@mdeboer Thanks for PR!  I'll try to figure out what's the problem is with `phantomjs-prebuilt` and merge your PR as soon as I can.

[2017-04-19 13:28] mpfluger commented on #41
Thanks @shakiba and @mdeboer for investigating!

[2017-04-25 14:23] TheDutchCoder opened #43 "Embedded image hosted on s3 generates no file, nor error"
Whenever I embed an image hosted on s3 (loaded over https), the script doesn't render any output file but also doesn't generate an error.

Any idea how to tackle this?

Edit: narrowing it down to some options apparently not working with the embedded image (option-less generation works), I'll update if I know more.

Edit 2: okay, the script works, but it's generating a blank file (I set the SVG bg

[2017-04-25 15:20] TheDutchCoder commented on #43
Figured it out!

If a width/height attribute is missing from the image, it will not render at all.

[2017-04-25 15:20] #43 closed

[2017-06-09 19:33] spertasolutions opened #44 "SVG Export for Windows"
Can you please explain how can we use SVG Export on Windows, as an API or may be a stand-alone application.

[2017-06-09 21:18] shakiba commented on #44
Please try:
- [Download](https://nodejs.org/en/download/) and install node.js+npm for Windows
- Run `npm` from command line to make sure it works
- Run `npm install svgexport -g` to install svgexport

[2017-06-14 12:29] codetker opened #45 "Output stream"
I'd like to output readable stream instead of a png file,how could I make it?

[2017-06-15 04:13] shakiba commented on #45
It is very difficult to directly add it to this library, but you could save file in OS temp folder and then stream it.

[2017-06-22 14:26] trejkaz opened #46 "Thin lines drawn too heavy, transform not working on some elements"
nodejs v8.1.2
svgexport v0.3.2

Input data is the keyboard design I'm working on:

https://github.com/trejkaz/keyboard/blob/master/custom-keycaps.svg

Result from svgexport:

![custom-keycaps](https://user-images.githubusercontent.com/43236/27438903-ea412cfe-57a9-11e7-93a4-e770efe7d96a.png)

For comparison, result in Chrome (taken by manual screenshot):

<img width="1395" alt="screen shot 2017-06-

[2017-06-24 10:10] shakiba commented on #46
Thanks for reporting, I can not immediately fix this, but will do it as soon as I can.

[2017-06-24 12:12] trejkaz commented on #46
I have a lead on the line thickness problem - when I tried the same file in Batik, it complained about the scientific notation because it only supports CSS2. After changing the stroke-width values not to use that, svgexport renders the strokes the same as Chrome.

[2017-06-24 19:44] shakiba commented on #46
Cool, thanks for update!

[2017-07-17 22:08] Tsenzuk commented on #33
For future googlers:
to prevent the issue with 'getBBox is not a function' check that you have a xmlns attribute in your xml tag. In other case phantomjs doesn't interpret the file as svg, but just as html/xml

[2017-07-30 17:45] pojda opened #47 "Does not work when path or filename contains spaces"
[code]

when moving it to a path without any spaces it works just fine

[code]

[2017-09-18 20:03] c0001 opened #48 "TypeError: "file" argument must be a non-empty string"
When I used `svgexport  a.svg b.png` , it appear the error remider that:

* **And with the whole error message was :**

[code]
* And this is my svg content: (Which be outputed by Adobe Illustrator)

[code]

**Hope your help**

[2017-09-20 17:17] BenRKarl opened #49 "Unable to load file when path contains `é` character"
When the `é` is present in the file path this error is generated:

[code]
Removing that character remedies the problem.

[2017-09-20 17:19] shakiba commented on #49
I think it was reported before, and it was a phantomjs issue.

[2017-10-06 15:12] jodekirk opened #50 "Support svgz files"
Please add support for gzipped .svgz files.

[2017-11-10 09:48] gqueruel opened #51 "installation failed"
Hello,
I've tried to install svgexport but i have this error message :
`loadDep:uuid → resolveWit ▌ ╢█████████████████████████████████████████████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╟
/usr/local/bin/svgexport -> /usr/local/lib/node_modules/svgexport/bin/index.js

sh: 1: node: not found
/usr/local/lib
└── (empty)

npm ERR! Lin

[2017-11-12 22:57] shakiba commented on #51
I can not reproduce, can you please test with another environment?

[2017-11-16 11:28] rootsongjc commented on #48
I have the same problem on Mac
node v8.9.1

[2017-11-20 05:37] shakiba commented on #51
I'm closing this, please feel free to reopen if required.

[2017-11-20 05:37] #51 closed

[2017-11-20 05:39] shakiba commented on #49
I'm closing this, please see #14 and feel free to reopen if required.

[2017-11-20 05:39] #49 closed

[2017-11-20 05:51] shakiba commented on #48
I can not reproduce on linux:
[code]
Can you please provide more details?

[2017-11-20 05:53] shakiba commented on #47
This is probably a phantomjs issue, see: #14

[2017-11-20 05:54] shakiba commented on #44
I'm closing this, please feel free to reopen if required.

[2017-11-20 05:54] #44 closed

[2017-11-20 05:58] shakiba commented on #32
Closing this, as not in scope of this project.

[2017-11-20 05:58] #32 closed

[2017-11-23 15:29] antonshevyrin commented on #48
I cannot reproduce it on Mac:
[code]

[2017-11-24 02:41] rootsongjc commented on #48
For example I want to export this file https://github.com/doczhcn/istio/blob/master/docs/img/mesh-expansion.svg to png.
[code]

[2017-11-24 08:02] antonshevyrin commented on #48
hmm, still exports fine on Mac:
[code]

[2017-11-24 10:00] rootsongjc commented on #48
So strange. I have no idea. 🤷‍♂️

[2017-11-24 11:30] antonshevyrin commented on #48
Could it be phantomjs related issue?
@rootsongjc What is your phantomjs-prebuilt version?

[code]

[2017-11-24 11:37] rootsongjc commented on #48
@antonshevyrin
[code]

[2017-12-05 11:10] Shadowys commented on #48
To anyone facing this problem, please note that the latest node version (9.2) `child_process.exec` only accepts a string as its value instead of arrays.

[2017-12-06 17:18] byronigoe opened #52 "Line marker rotation"
This project seems to be abandoned, but I thought I would everyone aware of these issues. See the attached JPG rendered by this library, and PNG rendered by Inkscape. Notice the rotation of the marker (arrowhead) on line 4. The SVG is copied below.
![JPG](https://user-images.githubusercontent.com/10134042/33674956-1afa07dc-da7f-11e7-97ce-e751a3af711a.jpg)
![correct](https://user-images.githubuserc

[2017-12-10 06:27] shakiba commented on #52
Thanks for reporting, however I don't think this is an svgexport issue:
- svgexport uses phantomjs for rendering.
- I tested your svg in Chrome, it is like first image.

Also you are welcome to help to maintain the library! :)

[2017-12-17 01:52] shakiba commented on #52
I'm going to close this, please feel free to open it if required.

[2017-12-17 01:52] #52 closed

[2018-01-15 19:55] vallieres opened #53 "undefined is not a constructor (evaluating 'el.getBBox()')"
I'm getting this error when converting a nice looking SVG. It's very similar to others I have and can't seem to understand what's the problem here.

`svgexport "instagram_076.svg" "instagram_076.png" png 85% 2000:2000`

[File is here](https://www.dropbox.com/s/pw3fwpsiurff496/instagram_076.svg?dl=1)

Terminal is giving out:
[code]

[2018-02-20 13:53] lafenouille opened #54 "Error: Unable to load file (fail): 文.svg"
Unable to convert file with _CJK Unified Ideographs_ in filename.

[2018-02-20 19:34] shakiba commented on #54
Yes, this is known issue in phantom.js, it was reported few times before.

[2018-03-02 18:20] razbe opened #55 "Denial of Service"
Hello, it looks like there is no timeout for loading external image, this can lead to denial of service.
`<?xml version="1.0" standalone="no"?>
<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events">
<defs>
	<pattern id="img1" patternUnits="userSpaceOnUse" width="600" height="450">
		<image xl

[2018-03-20 08:03] TsuchiyaMasahiro opened #57 "exec error"
Hi, please help me.

[My PHP code]
$exec= "/usr/local/bin/svgexport /var/www/html/test.svg /var/www/html/output.png 2>&1"
exec($exec, $output, $exit);

[Log]
$output= Array
(
    [0] => **/usr/bin/env: node: No such file or directory**
)

What should I do?

[Additional Information]
$ which node
/usr/local/bin/node

$ which svgexport
/usr/local/bin/svgexport

[2018-03-20 12:46] TsuchiyaMasahiro commented on #57
I could solve this problem by myself.

sudo ln -sf /usr/local/bin/node /usr/bin/node

[2018-03-20 12:46] #57 closed

[2018-04-08 08:38] Dmitrij-Polyanin opened #58 "How to use styles?"
Is there any ability to use styles tag inline.

I tried place style element in `defs` on in `svg` but not working.

Tried to use external file not working too.

`<?xml-stylesheet type="text/css" href="styles1.css"?>`

But in Chrome both are working.

I know that i can point styles by text in command line, its good, but is there posibility to link styles as file? Is there any variants?

[2018-04-08 09:08] Dmitrij-Polyanin commented on #58
Sorry solved. Some error in SVG file.

[2018-04-08 09:08] #58 closed

[2018-05-30 05:18] danielchicote opened #59 "Images ignored"
Hello, i have relative paths in my svg and when i convert the file this images are ignored.

svg original
[http://i65.tinypic.com/j5i49l.jpg](url)
jpg converted
[http://i64.tinypic.com/3322urk.jpg](url)

I have tried changing the images to the same directory and nothing. I have tried resize the images and nothing too.

I'm under windows 10.

[2018-05-30 05:45] shakiba commented on #59
Have you tried your svg in chrome?

[2018-05-31 18:31] danielchicote commented on #59
Hello, i have changed the paths for urls and now it works.

[2018-07-05 10:07] markvital opened #60 "svgexport produces huge file size while converting from SVG to PNG"
I'm converting [this icon](https://user-images.githubusercontent.com/742796/42316816-4f6491c8-807d-11e8-9263-688d630117c8.png) from SVG to PNG in 128x128 resolution

I am using this command for conversion:

[code]

Here is what I've got:
![woman-test](https://user-images.githubusercontent.com/742796/42316961-b873eb6e-807d-11e8-8b63-f77d3420b0b9.png)

The result file is much bigger then the one Ill

[2018-07-12 01:00] vpontin opened #61 "Raspbian"
I'm trying to install this package on my raspbian stretch, but it always fails because phantomjs arent available for it.

Installing the .deb from [this repo](https://github.com/fg2it/phantomjs-on-raspberry/releases/tag/v2.1.1-wheezy-jessie-armv6) not work either, i always got this error:

[code]

Is there anything i can do to install it on my pi?

[2018-07-19 12:34] eladkarako opened #62 "[suggestion] migrate from PhantomJS to headless browsers (faster, better, etc...)"
PhantomJS is no longer maintained (..plus it is slow and buggy).
Here are the <strong>headless browser</strong> pages for Chrome and Firefox:
https://developers.google.com/web/updates/2017/04/headless-chrome
https://developer.mozilla.org/en-US/Firefox/Headless_mode

[2018-08-03 02:09] xiaohaoliang commented on #54
+1
if the path of the file includes *CJK*,  the error is same.

[code]

Is there solution?

[2018-08-28 17:45] kodie opened #63 "Modifying fill via CSS class names"
I have an SVG like this:

[code]

You would think that running
[code]
would result in the white box turning black however it doesn't. Manually changing the value in the SVG does.

[2018-10-25 14:57] virtuoushub commented on #53
It seems whatever was causing this has been fixed. Using the [example file](https://www.dropbox.com/s/pw3fwpsiurff496/instagram_076.svg?dl=1) with with [version `0.3.2` of `svgexport`](https://www.npmjs.com/package/svgexport/v/0.3.2)

[code]
I was able to generate the following:

![instagram_076](https://user-images.githubusercontent.com/4303638/47509150-7a3c9800-d843-11e8-81b9-ae6ed94b7cce.png)

[2018-10-30 21:39] eladkarako commented on #62
lets close it for now..
<em>btw, portable Firefox/Chrome might be easier to work with (portableapps.com or https://github.com/eladkarako/mods/tree/master/Firefox for example)</em>

[2018-10-30 21:39] #62 closed

[2018-11-08 08:23] Anudorannador opened #64 "The "file" argument must be of type string. Received type object"
[code]

[code]

[code]

I am new to use this, and I tried many SVG file but same error, so is there anyone can help me to figure out the problem ?

[2018-11-28 17:07] fruwe commented on #48
I am having the same problem. I attached a Dockerfile to reproduce the problem.

[code]

[2018-11-28 17:33] fruwe commented on #48
UPDATE / WORKAROUND:

I found a related issue here: https://github.com/ariya/phantomjs/issues/14186#issuecomment-381924432

Using the approach described there, I could make it work by changing the Dockerfile above to the following:

[code]

[2018-11-30 11:20] Gehlot commented on #48
"file" argument must be a non-empty string getting error

[2019-01-09 21:42] MarksCode commented on #64
have you figured it out?

[2019-01-10 02:14] Anudorannador commented on #64
No, no me but some one helped.
see more about [this issue](https://github.com/miao1007/gitbook-plugin-mermaid-cli/issues/3).
but there are some Chinese.

[2019-01-11 10:22] Anudorannador commented on #64
in short, cause of `phantomjs` is deprecated, replaced by `phantomjs-prebuilt`, but `svgexport` has not updated, still using `phantomjs`.

The reason why the error occurs because I linked the `phantomjs-prebuilt` as `phantomjs` and, finally, failed.

So, I unlinked `phantomjs-prebuilt` and re-install `svgexport` with command:

[code]

the argument `--unsafe-perm` to force to install `svgexport` an

[2019-02-10 18:28] jaggedsoft commented on #64
Same issue here.

svgexport ltc.svg output.png
internal/validators.js:125
    throw new ERR_INVALID_ARG_TYPE(name, 'string', value);
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "file" argument must be of type string. Received type object
    at validateString (internal/validators.js:125:11)
    at normalizeSpawnArguments (child_process.js:399:3)
    at Object.spawn (child_process.js:532:38)
    a

[2019-02-18 06:33] Lee66 commented on #48
使用nightmare时也报这个错了
![image](https://user-images.githubusercontent.com/19661985/52932212-042be600-338a-11e9-9182-26b16dcc7616.png)

[2019-04-18 15:42] jcklpe opened #65 "null is not an object (evaluating 'input.width')"
I've created a batch zsh command to convert svgs to different sized pngs and then using imagemagick to convert those pngs to an ico file.

I run pretty standard commands but occasionally svgexport will throw an error. I'm guessing the problem is that the original svg doesn't have it's width specified? Is there a setting to have it default to something so that I can properly process these svgs?

Al

[2019-04-18 15:43] jcklpe commented on #16
@goosehub @shakiba  Did you ever find a way to account for this problem programmatically?

[2019-08-24 07:40] lixiaominggit opened #66 "QR code is not complete"
Hey, I have a problem. I export a QR code svg to png. When it is more than 10 times, the QR code is not complete. What is the problem? Is it related to the svg file?

[2019-08-26 04:38] #66 closed

[2019-08-26 07:23] dipu-bd opened #67 "TypeError: undefined is not an object (evaluating 'el.width.animVal')"
I am getting this error:

[code]

The header of svg file:

[code]

This svg has embedded font.

[2019-12-02 08:03] mingrammer commented on #60
I got same problem

[2019-12-09 17:23] markvital commented on #60
@mingrammer it looks like the repo is dead :(

[2019-12-09 17:41] mingrammer commented on #60
Yes it does.. we should find an another one or make a similar tool ourselves.

[2019-12-30 18:38] MichaelHeerklotz commented on #60
Maybe the puppeteer version works better in this case https://github.com/MichaelHeerklotz/svgexport

[2020-01-18 08:29] shakiba commented on #60
This is fixed in +0.4 thanks to great work by @MichaelHeerklotz!

[2020-01-18 08:29] #60 closed

[2020-01-22 01:08] bkimminich opened #71 "Regression 0.4.0: "Error converting __.svg into ___.png" with GitBook"
# Regression

Without any relevant changes on my end an AppVeyor job I have running GitBook CLI fails when using `0.4.0` while trying to convert an SVG into a PNG:

## ✔️ https://ci.appveyor.com/project/bkimminich/pwning-juice-shop/builds/30108321
(before release of `0.4.0`, dependency resolving to `0.3.2`)

## ❌ https://ci.appveyor.com/project/bkimminich/pwning-juice-shop/builds/30265687
(since r

[2020-01-22 07:07] shakiba commented on #71
Yup, we have recently update from PhantomJS to Puppeteer. @MichaelHeerklotz is leading the work, so he might be more helpful.

[2020-01-24 22:59] MichaelHeerklotz commented on #71
There seem to be some problems when running on Windows. I am working on a fix.

[2020-02-02 16:30] jindrazak opened #72 "Unable to load file on Windows"
### I am facing trouble exporting svg to png on Windows.

- Windows 10
- Node v12.13.1
- svgexport@0.4.0

### Way to reproduce:
Powershell:
[code]

[2020-02-08 18:50] jefago commented on #72
I have the same issue. Works with 0.3.2, stopped working with 0.4.0.

[2020-02-08 18:57] jefago commented on #72
The problem is here: https://github.com/shakiba/svgexport/blob/master/render.js#L30

On Windows, `svgfile` will be something like `C:\users\....`, so the URL that gets created is `file://C:\users\...`, but it *should* be `file:///C:/users/` (three forward slashes, backslashes replaced by forward slashes although I'm not certain the latter is needed).

[2020-02-08 19:24] MichaelHeerklotz commented on #72
Yes, I have already prepared a fix for Windows. There is still another Windows bug to be fixed, once this is done we can release a new version.

[2020-02-21 21:11] kylebarron opened #73 "Add option to change timeout for navigation"
I'm trying to convert a 180MB svg to png. I tried with `svgexport` but got this error:
[code]

It looks like that's from here:
https://github.com/shakiba/svgexport/blob/3acbf51f0687f54d1972265cd3aef4c6a7e925fc/render.js#L30-L34

It looks like you can easily modify the page timeout by setting `{timeout: ...}`:
https://stackoverflow.com/a/52163615/7319250

[2020-02-23 06:22] shakiba commented on #73
Hmm, that makes sense, thanks of reporting the issue! Would you be able to make a PR for this?
I think the easiest way is using environment variables to pass timeout to svgexport.

[2020-02-29 23:11] breakdom opened #74 "Scale error over 6x"
Hi, I tested this library on a small server where I was doing svg conversions of about 28MB with 10X scales without problems, now I have switched to a new server and if I exceed 6x the conversion stops. Anyone know which parameter must be changed to give more memory to the process?

[2020-03-01 03:45] shakiba commented on #74
Hmm, I'm not sure, but how do you know it's memory?

[2020-03-01 03:56] shakiba commented on #74
For debugging purpose, could you resize your source svg before exporting, and then do smaller scaling when exporting it? For example 2x before exporting and then 5x while exporting.

[2020-03-01 10:54] breakdom commented on #74
I'm not sure it's memory, at the moment it's a hypothesis

[2020-03-01 10:59] breakdom commented on #74
ok I can try exporting the svg from illustrator to 2x and then convert to 5x with the svgexport command, but in case how can I go to scale a svg programmatically to 2x? thank you

[2020-03-01 17:16] breakdom commented on #74
A test with a 7MB file was successful scaling up to 10x while starting from the original file of 27MB at the maximum scale at 6X. This makes me think of a limit of available memory because on a server with 8GB of RAM it worked while on this one that has 64GB it doesn't work.

[2020-03-01 17:50] breakdom commented on #74
I found a difference between server, the first if i launch te command "svgexport 01.svg 01.jpg 10x" convert the file without a problem. In the second server the same command give me this :

(node:2754) UnhandledPromiseRejectionWarning: Error: Failed to launch the browser process!
[0301/185023.253613:ERROR:zygote_host_impl_linux.cc(89)] Running as root without --no-sandbox is not supported. See htt

[2020-03-01 18:15] breakdom commented on #74
this problem only returns it on the current server, on two different servers it doesn't give it, how can I install a clean version of the program by deleting everything I have installed?

[2020-03-02 02:30] shakiba commented on #74
Is [this](https://github.com/puppeteer/puppeteer/issues/3698#issuecomment-506311305) helpful?

[2020-03-02 07:47] MichaelHeerklotz commented on #74
@breakdom Puppeteer/Chromium does not like to be run as root, if you switch to a different user it might start working. Installing the dependencies as @shakiba pointed out might also help.
As this is enforced by Puppeteer/Chromium for security reason there is little we can do on our side (and I would rather keep the sandbox enabled, also disabling the sandbox did not work in my setup anyways, so I

[2020-03-02 23:56] breakdom commented on #74
I found this difference between the servers where it works and the one where it doesn't work. In the servers where it works during the conversion, the file is written on the file system and you can see the output file increase, on the server where the conversion does not work the conversion is in a memory buffer then after conversion writes to the file system and I think this buffer can't support

[2020-03-03 09:45] breakdom commented on #74
Unfortunately no, part of the libraries were already installed but nothing has changed.

[2020-03-08 21:09] #73 closed

[2020-03-21 09:08] roman-petrov commented on #72
@MichaelHeerklotz , any chance to make the latest version work on Windows soon? :)

[2020-03-24 09:25] MichaelHeerklotz commented on #72
@roman-petrov I am aiming for a release this week. Sorry for taking so long.

[2020-03-24 09:27] roman-petrov commented on #72
@MichaelHeerklotz , sounds great! Thank you!

[2020-03-24 15:39] henryiii opened #76 "Running in docker broken"
This currently fails to work in docker with:

[code]

If the line in render.js `var browser = await puppeteer.launch();` is replaced with `var browser = await puppeteer.launch({args: ['--no-sandbox']});`, then it works. Could this either detect it is running as root (such as in a docker image) or a way to pass args (via environment variables) be added? This is breaking a gitbook GitLab CI using th

[2020-03-24 16:48] MichaelHeerklotz commented on #76
The problem is that your docker is running as root, if you switch to a different user and make sure all the required dependencies are installed, it works.

[2020-03-24 16:50] MichaelHeerklotz commented on #76
`#
# Install apt packes required by headless chromium
#
RUN apt-get update && apt-get install -y \
    gconf-service \
    libasound2 \
    libatk1.0-0 \
    libc6 \
    libcairo2 \
    libcups2 \
    libdbus-1-3 \
    libexpat1 \
    libfontconfig1 \
    libgcc1 \
    libgconf-2-4 \
    libgdk-pixbuf2.0-0 \
    libglib2.0-0 \
    libgtk-3-0 \
    libnspr4 \
    libpango-1.0-0 \
    libpangocairo-

[2020-03-24 17:21] henryiii commented on #76
The current GitLab CI job and workaround here:

https://gitlab.com/CLIUtils/modern-cmake/-/blob/10e21db1782c0f23c65490f6534ca63b003ce82a/.gitlab-ci.yml#L15-32

[2020-03-24 17:30] MichaelHeerklotz commented on #76
Because of security reasons it is not recommend to neither run docker nor svgexport /pupeteer as root. If you switch to a different user for docker it will work.

[2020-03-24 17:47] henryiii commented on #76
Can you do that in CI? You don't have control over how it sets up the docker run, AFAIK.

[2020-03-28 22:19] travisdowns opened #77 "Install fails during Chromium download"
Installation of svgexport fails on my Ubuntu 19.10 system:

[code]

If I set `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD` it succeeds.

[2020-03-29 00:05] travisdowns commented on #77
Seems to be a puppeteer install issue:

https://github.com/puppeteer/puppeteer/issues/375

I worked around by using `--unsafe-perm=true` as suggested in [this comment](https://github.com/puppeteer/puppeteer/issues/375#issuecomment-363466257).

[2020-04-02 13:16] liuchaobit commented on #72
I have the same problem
where can I find the latest version

[2020-04-10 00:39] markvital commented on #60
@shakiba @MichaelHeerklotz Great, thank you!

I did some testing and now the file size is much closer to the Illustrator.

Here are the results with the same icon I posted before:
![Screen Shot 2020-04-09 at 5 21 49 PM](https://user-images.githubusercontent.com/742796/78951673-ca370b00-7a87-11ea-838d-aade45cb4205.png)

From left to right: SVG, Adobe Illustrator Export (via Save for Web), svgexport

[2020-04-10 00:51] shakiba commented on #60
Awesome, thanks for sharing comparison, kudos to @MichaelHeerklotz for making the change!

[2020-04-18 16:19] KasparEtter opened #79 "Update to puppeteer 3.0.0"
I ran into a rendering issue: `marker-mid` was displayed on a a single arc in a path. I believe this bug has been captured by [this issue](https://bugs.chromium.org/p/chromium/issues/detail?id=583097). Chrome was rendering the SVG correctly, while `~/project/node_modules/puppeteer/.local-chromium/mac-737027/chrome-mac/Chromium.app` was not. It turned out that the fix has been merged into the Chrom

[2020-04-22 08:57] wuminzhe opened #80 "Chinese display problem"
If svg contains chinese chars, the result png will not display right.

[2020-04-29 04:19] shakiba commented on #80
I guess we need to add [content-type](https://css-tricks.com/snippets/html/xhtml-1-0-strict-page-structure/) to [renderer](https://github.com/shakiba/svgexport/blob/master/render.js#L128). It would be great if you make try it an make PR if that works.

[2020-04-29 04:21] shakiba commented on #79
Thanks for reporting the issue with a fix! It would be great if you make a PR.

[2020-04-29 07:08] KasparEtter commented on #79
Here you go. I haven't studied what the breaking changes in [puppeteer 3.0.0](https://github.com/puppeteer/puppeteer/releases/tag/v3.0.0) were but since it includes things like `Node.js v8.x.x is no longer supported.`, `svgexport` with these updated dependencies should probably be released with a major version bump.

[2020-04-29 07:12] KasparEtter commented on #79
On a different note: I also wanted to commit the `package-lock.json` file (see [its documentation](https://docs.npmjs.com/files/package-lock.json) for why) but failed to actually install puppeteer because [it's currently not working with `node` 14](https://github.com/puppeteer/puppeteer/issues/5719). I'm too lazy to downgrade my `node` installation and the issue should be fixed with the 14.1.0 rel

[2020-05-03 14:06] MusicOnline opened #82 "Puppeteer does not render <svg><use xlink:href>"
I tried to export [an SVG with CSS](https://gist.github.com/MusicOnline/f95474e2180607ac80e2887879e3c6bd) but got different results between versions 0.3.2 and 0.4.0.

This is what I got in a Chromium browser and with PhantomJS (svgexport@0.3.2):
![0f9a8_frame0008](https://user-images.githubusercontent.com/39178127/80916154-8fc04580-8d89-11ea-9df4-e3d57cbc40a1.png)

This is what I got with Puppetee

[2020-05-03 23:26] shakiba commented on #79
Thank, this is great! Will merge it soon, I think we can merge it as alpha version for next minor version update. Also let's cc @MichaelHeerklotz to see if he has any comment.

[2020-05-05 07:26] KasparEtter commented on #79
Since [`node@14.1.0`](https://github.com/nodejs/node/releases/tag/v14.1.0) has been released in the meantime (and thus installing `puppeteer` works again), I added another commit to my PR in order to put `package-lock.json` under revision control. Otherwise, different developers can run into different issues due to differing versions of dependencies (as the dependencies are not "locked" to specifi

[2020-05-09 08:45] ctch3ng commented on #72
For Windows users, in **%AppData%\npm\node_modules\svgexport\render.js**

Change the line

`await page.goto('file://' + encodeURI(svgfile))`

into

`await page.goto('file:///' + encodeURI(svgfile).replace(new RegExp(/%5C/g),"/"))`

[2020-05-09 08:49] jindrazak commented on #72
@ctch3ng Wouldn't it be better to apply a pull reuquest?

[2020-05-29 00:12] jamesmontalvo3 commented on #72
Submitted #83. Resolved issues on Windows for me. Haven't tested on other systems.

[2020-06-22 04:10] #79 closed

[2020-06-30 10:22] agamm commented on #77
The latest version of `svgexport` isn't updated (0.4.0 currently) with the github source code. Try to install like so: `npm install shakiba/svgexport -g`
@travisdowns

[2020-07-10 10:06] arthurvernon commented on #47
hit the same problem.

If I supply an input of '...icons/node/Blah 1.svg'

then in index.js code...
    if (!Array.isArray(input)) {
      input = input.split(/\s+/);
    }

will convert my file path of one file into an array of two strings:
['...icons/node/Blah', '1.svg']

Subsequently the
   input[0] = path.resolve(cwd, input[0]);
etc fails are the file does not exist.

[2020-07-24 13:28] silverwind commented on #72
Alternative PR: https://github.com/shakiba/svgexport/pull/86

[2020-08-04 03:37] #72 closed

[2020-09-11 05:40] SilveryStar opened #88 "Installed on ubuntu server 2004 (on raspberry pi) cannot run"
- Environment
[code]

When I use the command `svgexport test.svg test.jpg`, the following error occurs (the `test.svg` file has been guaranteed to exist)
[code]

[2020-10-28 17:01] greyltc commented on #71
I just ran into this today in debian. @MichaelRoosz any word on that fix?

[2020-12-15 21:15] isuldor commented on #33
I ran into this error with the Grafana logo which appears to already have an xmlns attribute:
https://grafana.com/static/img/logos/grafana_logo_swirl-events.svg

[2021-02-20 14:59] UnixCro opened #92 "Can be used directly?"
Hi, do you know how I can run your project under macOS without needing npm (because it is not preinstalled) but can run it directly, i.e. precompiled

[2021-02-20 23:26] shakiba commented on #92
You will need npm to install dependencies, specially Puppeteer.

[2021-02-26 15:46] qbasicer opened #93 "Target Closed"
Trying to run `svgexport graph.svg graph.png 64x` on OSX Catalina on node 13.11.0.

[code]

[2021-03-03 21:38] beeryt opened #94 "Protocol error: Unable to capture screenshot"
1. Install `svgexport`
[code]

2. Run with error (svg from [Fontawesome](https://fontawesome.com/icons/play?style=solid
[code]

Versions
[code]

[2021-03-09 14:04] SandroMiccoli commented on #94
Had the same error. Installed using `npm install svgexport -g'.

First a just ran the command without any parameters, and it worked fine.

When trying to export a higher resolution png, I got the error:
[code]

[2021-03-10 04:36] shakiba commented on #94
It seems it is a Puppeteer issue because of file size.

[2021-03-10 04:43] beeryt commented on #94
That appears to be correct. I realize now that I used `64x` instead of `64:64`.

[2021-03-10 09:07] SandroMiccoli commented on #94
Is there a way to solve it? Or at least find a way around this issue?

I would like to be able to export high dimensional/quality images.

[2021-03-11 02:11] shakiba commented on #94
Yeah, makes sense. The issue is not specific to svgexport, so if you search for the error on the web you will find some suggestions, for example if you running in a docker container you may be able to fix it by adding more RAM.

Another option/hack might be to export one portion of image at a time using input size parameters, and then merge them together using another tool.

[2021-04-03 16:24] manuelroth opened #96 "Publish a new release of svgexport to npm"
Dear @shakiba

I created a [PR](https://github.com/shakiba/svgexport/pull/90) that improves font spacing in docker environments. @MichaelRoosz reviewed and merged the PR. Would it be possible to push a new release to npm?- This would allow me to use the official svgexport package again in my package.json. Currently I have to use my feature-branch that I created for this PR.

Kind regards,
Manuel

[2021-04-05 19:18] vegerot opened #97 "awaiting `svgexport.render` resolves before output file is added to filesystem"
I am trying to make a script to auto-generate icon files and send them to the right spots.  This is what I have so far

[code]

However, I am having trouble diagnosing a bug in my code.  Whenever I add a new size to `TARGETS`, the first time I this script I get

[code]

But normally after running my script a second time it works without a hitch.  I suspect the bug comes from `svgexport.render` res

[2021-04-05 19:21] vegerot commented on #97
btw while I'm here, I also have another (probably unrelated) question.  Even when the script is successful, my output looks like this

[code]

Which seems odd

[2021-04-05 23:19] mattsrinc opened #98 "Support for decimal numbers in viewBox"
Hi, I would like to have a really simple improvement for this great library - **respecting decimal number in the input viewBox parameter**. A test to show the difference:

[code]

So the first call with decimal numbers just rejects them and uses the original viewBox in the SVG file. The second call with integers works fine but does a side effect for tile image generation.

The story behind is that

[2021-04-06 08:08] mattsrinc commented on #98
Is this the part in the render.js Command function that could be changed (regex to support float numbers and changing parsing calls below to parseFloat):

[https://github.com/shakiba/svgexport/blob/0cd3dab8c8fddf107b1e7a17be024f2462d30ebb/render.js#L245](https://github.com/shakiba/svgexport/blob/0cd3dab8c8fddf107b1e7a17be024f2462d30ebb/render.js#L245)

[2021-04-11 17:30] mattsrinc commented on #98
Any help about this?

I'm attaching my modified version of render.js that unfortunately exports images as above.

Would really love to get this solved.

[render.js.zip](https://github.com/shakiba/svgexport/files/6292360/render.js.zip)

[2021-04-13 14:19] mattsrinc opened #99 "Wrong image exporting"
I'm submitting an official bug after days of struggling (believing it was a Leaflet and/or one of caching plugins for it).

Here's the comparison of svgexport output for one part of the larger image:

![svgexport-bug-png-generation](https://user-images.githubusercontent.com/7528073/114566467-98481e00-9c72-11eb-9bd2-84549cf2c9f6.png)

You can see the proper output with svgexport 0.3.2 (no Puppeteer

[2021-04-13 21:41] mattsrinc commented on #98
For anyone doing similar task (exporting SVG to PNG tile images for Leafleat maps) here's the changed render.js for svgexport 0.3.2. It adds floating numbers support for the viewBox parameter (and width and height) and works well, with no artifacts when zooming as demonstrated in first image above.

Now if only svgexport 0.4 (or 0.5?) would have this it would be perfect.
[render.js-0.3.2-floatiing

[2021-04-15 11:58] mattsrinc commented on #99
Here's one bigger map, tiles exported with svgexport 0.4.1 (version 0.3.2 just freezes on the first image, SVG viewbox is "0 0 4688 7015".

![Screenshot_2021-04-15 Leaflet properties map](https://user-images.githubusercontent.com/7528073/114865236-3f9f8f00-9df2-11eb-96ea-76d947865ef2.png)

So image tiles are just not generated with svgexport, and command line is the same with proper parameter

`SV

[2021-04-15 12:10] mattsrinc opened #100 "Node.js render example"
This is just a suggestion to include more thorough Node.js usage example.

And an expanded example if several exports from the same image are required would also be helpful. Maybe here could be a possible improvement (not rereading the same input file again and again).

Lastly timing comparison between calling svgexport command as a process and calling it by providing JSON parameters (both in Node

[2021-04-29 01:28] ancestral commented on #96
@shakiba I use this utility quite a lot. Can you publish a new release? If you need help maintaining the project, perhaps someone else can assist you.

I’m becoming afraid that if people don't hear from you, the project may end up being forked, leading people to transition away to a new project.

[2021-04-30 17:36] shakiba commented on #96
Thanks for the PR! I published new version.

This kind of changes could be opinionated and it is difficult to know how they will impact existing users.

Any help with maintaining the project is definitely appreciated! :)

[2021-04-30 20:10] manuelroth commented on #96
Thank you for publishing a new version. I really appreciate you taking the time. Yes, you are right. This change could have potential unwanted impact on existing users. Maybe an option to pass additional arguments to puppeteer would be a better solution to handle these use cases. I will close this issue as its resolved.

[2021-04-30 20:10] #96 closed

[2021-07-12 21:08] kleinesfilmroellchen opened #104 "Relative and `file://` imports with <image src> don't work"
svgexport creates a pseudo-page on `about:blank` and then dumps the previously modified and grabbed SVG contents in there, in order to get a proper HTML with a screenshottable div. However, this means that (1) the new page is at an isolated location, and (2) the page is not loaded with the `file://` protocol like local SVG files are usually.

This leads to two problems with SVGs that use the `<ima

[2021-07-27 00:09] kryztoval commented on #99
I don't know if this is related, but I was trying to export the Ghostscript_Tiger.svg in high resolution (anything above 11x) and the image gets cut off. If I go 20x it would say "Error: Protocol error (Page.captureScreenshot): Unable to capture screenshot"

My computer has 51GB of free ram, running svgexport as admin or user changed nothing.

As this user suggested, using version 0.3.2 works flaw

[2021-07-27 00:11] kryztoval commented on #94
I was trying to export the Ghostcript_Tiger.svg in 20x and got this error, but looking at the issues reported here I used version 0.3.2 and it exports correctly. however version 0.4.x does output this error. My computer has 51GB of free ram (64GB installed).

[2021-07-27 00:14] kryztoval commented on #88
You seem to be trying to run it in a server/headless rpi. This tool requires a browser/x11 installed in order to run it, render it and capture it. Can you check if you have X11 libraries installed?

I believe puppeteer installs chromium binaries and conector, just X11 is not included in the install

[2021-07-27 05:55] #88 closed

[2021-08-29 13:23] idkroff opened #105 "Error: Failed to launch the browser process!"
I'm trying to convert svg file to .png, but i have this error:

[code]

Operating System: Ubuntu 20.04.3 LTS
Kernel: Linux 5.4.0-81-generic
Architecture: x86-64

[2021-08-29 13:56] idkroff commented on #105
This helped me:
[code]

**

Issue closed.

**

[2021-08-29 13:56] #105 closed

[2021-11-19 02:50] henryiii commented on #71
In https://gitlab.com/cliutils/modern-cmake, I'm hitting this as of a week or two ago, and it's not tied to 0.3/0.4, I tried pinning the older one and it didn't fix it, and newer ones used to be fine. I think an underlying library must have changed. Any idea of what it might be, or how to see a more informative error message?

[2021-11-19 03:55] henryiii commented on #71
Ahh, the SVG is a 404 not found! That's why. Now just have to figure out which badge it was, out of way too many...

Nevermine, not a problem here (though a better error if a 404 page is returned for the svg would be fantastic).

[2022-01-19 13:45] a-rousseau opened #107 "Error on install because of puppeteer issue (with fix)"
There was an error installing because of the puppeteer dependency issue
https://github.com/puppeteer/puppeteer/issues/367

The fix is to do sudo install as follow
`sudo npm install -g svgexport --unsafe-perm=true`

Hope this will help others

[2022-01-20 08:18] shakiba commented on #107
Thanks, would you be able to add it to the readme?

[2022-01-20 11:51] a-rousseau commented on #107
You are right, will do !

[2022-01-21 07:51] shakiba commented on #107
Thanks, merged it!

[2022-01-21 11:50] a-rousseau commented on #107
my pleasure ! :)

[2022-01-21 11:50] #107 closed

[2022-02-12 13:53] behrangsa opened #109 "Error: Unable to load file (TimeoutError: Navigation timeout of 30000 ms exceeded)"
I have a very large SVG file (about 45MB) and when I want to export it to PNG using svgexport, it fails with this error:

[code]

I have attached the compressed version here.

[property-types.zip](https://github.com/shakiba/svgexport/files/8053513/property-types.zip)

[2022-02-20 14:26] dasheck0 opened #110 "Throws error when filepath contains '#'"
Hi,

just found out that the tool breaks when the filepath contains the `#` symbol. My filename looks like this `/Users/dasheck/Projects/Javascript/Nodejs/.../cli/output/svg/item#00000.svg`. Might be true for other symbols as well. The errors message looks like this:

[code]

Workaround is to remove the `#` before proceeding. However, it would be great if this wouldn't be an issue :)

[2022-04-11 06:12] yisibl commented on #98
Try https://github.com/yisibl/resvg-js

[2022-04-16 12:45] mattsrinc commented on #98
Resvg-js looks promising (have anyone tried with similar expected results e.g. SVG viewbox with floating numbers exported to PNG with integer dimensions?).

But I've solved what's needed with modifications above, hope they'll get merged to main svgexport.code.

[2022-04-16 12:45] #98 closed

[2022-05-14 16:27] JRJurman opened #112 "Any way to use external css files?"
I'm trying to export an svg with multiple variants, all driven with external css files. I've tried using the following config but was not able to get it to work.

[code]

I ended up adding `src {}` so that the css matcher would catch the import line (otherwise the parameter isn't considered css).
[code]

I cloned the project, and modified it to write the html files local (which would be an awesome

[2022-05-27 03:45] ethan666 commented on #105
Go to:`your_project_path/node_modules/puppeteer/.local-chromium/linux-856583/chrome-linux`(this will also serve as a check if you have chromium installed)

Then run:`ldd chrome | grep not`(to see if any dependencies are missing)

For me (after I ran the installation from @Rhezashan) it turned out still be missing libgbm:`libgbm.so.1 => not found`

You can install it with:`sudo apt-get install libg

[2022-08-19 01:42] FocueAI opened #114 "How to modify fonts"